<div class="col-lg-4">
    <div class="well">
        <div class="row text-center">
            <input type="text" class="input-lg" ng-model="word" ng-readonly="true" placeholder="word" />
        </div>

        <div class="row">
            <h1>
                <carousel relink-event="myEventName">
                    <slide ng-repeat="imageUrl in imageUrls" active="$first" class="item fixed-carousel-item-container">
                        <img class="fixed-carousel-item" ng-src="{{imageUrl}}">
                    </slide>
                </carousel>
            </h1>
        </div>
        <div class="row text-center">
            <input type="text" class="input-lg" ng-model="translation" ng-readonly="true" placeholder="translation" />
        </div>
    </div>
</div>